* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.about,
.gameplayvideo,
.trailer1,
.trailer2,
.games,
.hc_uap,
.register-user,
.user-created
.sign-in,
.sign-in {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.about {
  height: 100vh;
  width: 100%;
  background-image: url('/public/images/AboutPage.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: #32beff;
  font-size: 80px;
}

.about > h5{
  margin-top: 100px;
  padding-inline: 500px;
  color: #32beff;
  font-size: 38px;
  margin-bottom: 100px;
}

.aboutP {
  color: #32beff;
  font-size: 22px;
  z-index: 1;
  padding-inline: 500px;
  margin-bottom: 50px;
}

.aboutL {
  color: #32beff;
  font-size: 20px;
  z-index: 1;
  padding-inline: 500px;
  margin-bottom: 10px;
}

.gameplayvideo {
  height: 100vh;
  width: 100%;
  background-image: url('/public/images/Ufovisualizerbuilds\ Screenshot\ 2023.04.06\ -\ 11.08.23.05.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #32beff;
  font-size: 100px;
}

.hc_uap {
  height: 100vh;
  width: 100%;
  position: fixed;
  background-image: url('/public/images/Ufovisualizerbuilds Screenshot 2023.02.08 - 10.05.06.15.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  color: #32beff;
}

.hc_uap > h1{
  margin-bottom: 80px;
  padding-inline: 300px;
  font-size: 50px;
}

.hc_uap > h5{
  padding-top: 50px;
}

.hc_uap > p{
  margin-bottom: 200px;
  padding-inline: 250px;
  font-size: 18px;
}

.trailer1 {
  height: 100vh;
  width: 100%;
  position: fixed;
  background-image: url('');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #32beff;
  font-size: 100px;
}

.trailer2 {
  height: 100vh;
  width: 100%;
  position: fixed;
  background-image: url('');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #32beff;
  font-size: 100px;
}

.trailer4 {
  height: 100vh;
  width: 100%;
  position: fixed;
  background-image: url('');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #32beff;
  font-size: 100px;
}

.games {
  height: 100vh;
  width: 100%;
  background-image: url('/public/images/GamesPage.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #32beff;
  font-size: 100px;
}

.register-user {
  height: 100vh;
  width: 100%;
  background-image: url('/public/images/RegisterUserPage.png');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  color: #32beff;
  font-size: 18px;
}

.register-user > h1{
  margin-bottom: 50px;
  font-size: 100px;
}

.register-user > p{
  margin-bottom: 50px;
  font-size: 24px;
  padding-inline: 300px;
}

.user-created {
  height: 100vh;
  width: 100%;
  position: fixed;
  background-image: url('/public/images/RegisterUserPage.png');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  color: #32beff;
  font-size: 18px;
}

.user-created > h1{
  margin-bottom: 50px;
  font-size: 100px;
}

.sign-in {
  height: 100vh;
  width: 100%;
  position: fixed;
  background-image: url('/public/images/SignInPage.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #32beff;
  font-size: 100px;
}
